@import "tailwindcss";

@theme {
  --color-background: #0a092d;
  --color-foreground: #ffffff;
  
  --color-primary: #4255ff;
  --color-primary-hover: #3644cc;
  
  --color-card: #2e3856;
  --color-card-hover: #3a466b;
  
  --color-border: #586380;
  
  --color-muted: #939bb4;
  --color-muted-foreground: #d9dde8;
  
  --color-success: #23b26d;
  --color-error: #ff725b;
  --color-warning: #ffcd1f;
}

/* Base styles */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Respect user's motion preferences */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}